/* css styles */

/*-- scss:defaults --*/
/* $body-bg: black; */

$font-size-root: 1em;
$cap-location: margin;
$toc-color: black;
$toc-active-border: dimgray;
$toc-inactive-border: lightgray;
$link-color: #75AADB;

/*-- scss:rules --*/
* {
  font-family:  Helvetica, Monospace, 'Courier New';
}

/*
.footer {
  text-align: center;
}

.footer_author {
  text-align: center;
}
*/

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}
